<div id="menuOverlay" class="menu-overlay" aria-hidden="true">
  <button id="menuOverlayClose" class="menu-overlay-close" type="button" aria-label="Chiudi menu">&times;</button>
  <nav class="menu-overlay-nav" aria-label="Menu principale">
    <div class="menu-item">
      <a class="menu-overlay-link" href="studio.html" data-bubble="images/studio la nostra tana.png">Studio</a>
      <div class="menu-submenu" aria-label="Sottovoci Studio">
        <a class="menu-submenu-link" href="storia-di-unazienda-mutante.html">storia di un'azienda mutante</a>
        <a class="menu-submenu-link" href="i-panebarcos.html">i panebarcos</a>
        <a class="menu-submenu-link" href="ci-vediamo-agli-oscar.html">ci vediamo agli oscar</a>
      </div>
    </div>
    <div class="menu-item">
      <a class="menu-overlay-link" href="servizi.html" data-bubble="images/servizi cose.png">Servizi</a>
      <div class="menu-submenu" aria-label="Sottovoci Servizi">
        <a class="menu-submenu-link" href="commercials.html">commercials</a>
        <a class="menu-submenu-link" href="post-produzione.html">post-produzione</a>
        <a class="menu-submenu-link" href="service.html">service</a>
        <a class="menu-submenu-link" href="e-tanto-altro.html">...e tanto altro</a>
      </div>
    </div>
    <a class="menu-overlay-link" href="portfolio.html" data-bubble="images/portfolio cose belle.png">Portfolio</a>
    <a class="menu-overlay-link" href="originals.html" data-bubble="images/originals produzioni indipendenti.png">Originals</a>
    <a class="menu-overlay-link" href="paneblog.html" data-bubble="images/paneblog pensieri.png">Paneblog</a>
    <a class="menu-overlay-link" href="contatti.html" data-bubble="images/contatti raccontaci.png">Contatti</a>
    <div class="menu-lang" aria-label="Cambio lingua">
      <button class="menu-lang-btn" type="button" aria-label="Switch to English">
        <img src="images/inglese.png" alt="English">
      </button>
      <button class="menu-lang-btn" type="button" aria-label="Passa a italiano">
        <img src="images/italiano.png" alt="Italiano">
      </button>
    </div>
  </nav>
  <img id="menuHoverBubble" class="menu-hover-bubble" src="" alt="" aria-hidden="true">
  <img class="menu-overlay-team" src="images/panebarcos_skecth-team_light.png" alt="">
</div>
