---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import MenuOverlay from "../components/MenuOverlay.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout title="Post-produzione - Panebarco" useInnerPagesScript={true} useInnerStyles={true}>
  <SiteHeader logoSrc="/images/panebarco logo light.png" containerClass="hero-fluid" />
  <MenuOverlay />
    <main>
      <h1>Post-produzione</h1>
      <p>Work in progress</p>
      <a href="index.html">Torna alla home</a>
    </main>
    <SiteFooter />
</BaseLayout>
