---
import Layout from "../layouts/Layout.astro";
import HeroStyStudio from "../components/HeroStyStudio.astro";
---

<Layout
  title="Service - Panebarco"
  useInnerPagesScript={true}
  useInnerStyles={true}
  headerProps={{ containerClass: "hero-fluid" }}
>
    <main class="studio-page">
      <HeroStyStudio
        backgroundVideoSrc="/images/1021768637.mp4"
        bgWord="SERVICE"
        title="SERVICE"
        subtitle="Produzione e supporto on demand"
        sideImageSrc="/images/lo-studio-panebarco-teams.png"
        sideImageAlt="Team Panebarco"
        className="hero-sty-studio page-hero page-hero--studio"
      />
        <section class="page-main">
        <div class="container">
          <h2>Universi originali Panebarco</h2>
        </div>
      </section>
      
    </main>
</Layout>
