---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout title="Service - Panebarco" useInnerPagesScript={true} useInnerStyles={true}>
  <SiteHeader containerClass="hero-fluid" />
    <main>
      <h1>Service</h1>
      <p>Work in progress</p>
      <a href="index.html">Torna alla home</a>
    </main>
    <SiteFooter />
</BaseLayout>
