---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<Layout title="Storia di un'azienda mutante - Panebarco" useInnerPagesScript={true} useInnerStyles={true}>
  <SiteHeader containerClass="hero-fluid" />
    <main>
      <h1>Storia di un'azienda mutante</h1>
      <p>Work in progress</p>
      <a href="index.html">Torna alla home</a>
    </main>
    <SiteFooter />
</Layout>