---
import Layout from "../../layouts/Layout.astro";
import HeroStyStudio from "../../components/HeroStyStudio.astro";
---

<Layout headerProps={{ containerClass: "hero-fluid" }}
  useInnerStyles={true} headerProps={{ darkmode: false }}>

   <main class="studio-page">
      <HeroStyStudio
        backgroundVideoSrc="/images/1021768637.mp4"
        bgWord="DIARIO DI VIAGGIO"
        title="DIARIO DI VIAGGIO"
        subtitle="Produzione e supporto on demand"
        sideImageSrc="/images/lo-studio-panebarco-teams.png"
        sideImageAlt="Team Panebarco"
        className="hero-sty-studio page-hero page-hero--studio"
      />

    <section class="page-main page-main--studio">
        <div class="container">
          <h2>Universi originali panebarco</h2>
        </div>
      </section>
    </main>
 
</Layout>
