---
import Layout from "../../layouts/Layout.astro";
import HeroStyStudio from "../../components/HeroStyStudio.astro";
---

<Layout
  title="Storia di un'azienda mutante - Panebarco"
  useInnerStyles={true}
  headerProps={{ containerClass: "hero-fluid" }}
>
    <main class="studio-page">
      <HeroStyStudio
        backgroundVideoSrc="/images/1021768637.mp4"
        bgWord="LA NOSTRA STORIA"
        title="STORIA DI UN'AZIENDA MUTANTE"
        subtitle="Dal 1995 un laboratorio in continua trasformazione"
        sideImageSrc="/images/lo-studio-panebarco-teams.png"
        sideImageAlt="Team Panebarco"
        className="hero-sty-studio page-hero page-hero--studio"
      />

      <section class="page-main page-main--studio">
        <div class="container">
          <h2 class="mt-5 pt-5">Universi originali Panebarco</h2>
        </div>
      </section>

    </main>
</Layout>
